<div class="row">
  <div class="col-md 12">
    <div class="card">
      <div class="card-header">
        <h4 >Cadastro de Pessoa</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <form [formGroup]="formulario" >
              <div class="col-md-12">
                <div class="row">
                  <div class="form-group col-md-2">
                    <label for="txtId">Código</label>
                    <input id="txtId" name="txtId" type="number" class="form-control" formControlName="id">
                  </div>

                  <div class="form-group col-md-8" [ngClass]="aplicaCssErro('nome', formulario)">
                    <label for="txtNome">Nome</label>
                    <input id="txtNome" name="txtNome" type="text" class="form-control" formControlName="nome">
                    <app-mensagem campo="nome" [formulario]="formulario" nomeCampo="Nome"></app-mensagem>
                  </div>

                  <div class="col-md-4 form-group" [ngClass]="aplicaCssErro('cpf', formulario)">
                    <label for="txtCpf">CPF</label>
                    <input id="txtCpf" name="txtCpf" type="text" class="form-control" formControlName="cpf">
                    <app-mensagem campo="cpf" [formulario]="formulario" nomeCampo="CPF"></app-mensagem>
                  </div>

                  <div class="col-md-4 form-group" [ngClass]="aplicaCssErro('dataNascimento', formulario)">
                    <label for="txtDataNascimento">Data Nascimento</label>
                    <input id="txtDataNascimento" name="txtDataNascimento" type="date" class="form-control" formControlName="dataNascimento">
                    <app-mensagem campo="dataNascimento" [formulario]="formulario" nomeCampo="Data de Nascimento"></app-mensagem>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="row" *ngIf="!modoEdicao">
          <div class="col-md-12" [formGroup]="formularioContato">
              <div class="row">
                <div class="form-group col-md-8" [ngClass]="aplicaCssErro('nome', formularioContato)">
                  <label for="txtNome">Nome</label>
                  <input id="txtNome" name="txtNome" type="text" class="form-control" formControlName="nome">
                  <app-mensagem campo="nome" [formulario]="formularioContato" nomeCampo="Nome"></app-mensagem>
                </div>

                <div class="col-md-4 form-group" [ngClass]="aplicaCssErro('telefone', formularioContato)">
                  <label for="txtTelefone">Telefone</label>
                  <input id="txtTelefone" name="txtTelefone" type="text" class="form-control" formControlName="telefone">
                  <app-mensagem campo="telefone" [formulario]="formularioContato" nomeCampo="Telefone"></app-mensagem>
                </div>

                <div class="col-md-4 form-group" [ngClass]="aplicaCssErro('email', formularioContato)">
                  <label for="txtEmail">Email</label>
                  <input id="txtEmail" name="txtEmail" type="email" class="form-control" formControlName="email">
                  <app-mensagem campo="email" [formulario]="formularioContato" nomeCampo="Email"></app-mensagem>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-2">
                <button mat-raised-button class="btn btn-info" (click)="onVoltar()">
                  Voltar
                </button>
              </div>
              <div class="col-md-7 text-right">
                <button mat-raised-button class="btn btn-success" (click)="onSalvar()" [disabled]="formulario.invalid">
                  Salvar
                </button>
                <button mat-raised-button class="btn btn-danger" (click)="onExcluir()" *ngIf="modoEdicao">
                  Excluir
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
